body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #ddd;
}

:root {
    --border-radius: 5px;
    --peca-height: 20px;
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

#barra1,
#barra2,
#barra3 {
    width: 7px;
    height: 200px;
    border-radius: 5px;
    background-color: black;
    border: 3px black solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#peca1 {
    width: 23px;
    height: var(--peca-height);
    background-color: #4576b5;
    border: 2px black solid;
    border-radius: var(--border-radius);
}

#peca2 {
    width: 35px;
    height: var(--peca-height);
    background-color: #755998;
    border: 2px black solid;
    border-radius: var(--border-radius);
}

#peca3 {
    width: 48px;
    height: var(--peca-height);
    background-color: #91b24f;
    border: 2px black solid;
    border-radius: var(--border-radius);
}

#peca4 {
    width: 57px;
    height: var(--peca-height);
    background-color: #b84644;
    border: 2px black solid;
    border-radius: var(--border-radius);
}

#peca5 {
    width: 66px;
    height: var(--peca-height);
    background-color: rgb(197, 120, 208);
    border: 2px black solid;
    border-radius: var(--border-radius);
}

#peca1:hover,
#peca2:hover,
#peca3:hover,
#peca4:hover,
#peca5:hover {
    cursor: pointer;
}

#divBotoes {}

#botaoReset,
#botaoFacil,
#botaoMedio,
#botaoDificil {
    border-style: none;
    border: none;
    color: rgb(75, 75, 75);
    font-weight: bolder;
    margin: 0 5px 0 5px;
    width: 90px;
    height: 40px;
    border-radius: 7px;
    border: 2px rgb(75, 75, 75) solid;
    box-sizing: border-box;
    transition: 0.2s;
}

#botaoReset:hover,
#botaoFacil:hover,
#botaoMedio:hover,
#botaoDificil:hover {
    border: 3px crimson solid;
    color: crimson;

}

#divVitoria {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#alertaVitoria {
    background-color: #ebebeb;
    border-left: 10px solid #444;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alertaTexto {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}